.contactContainer {
  padding: 1.5rem 2rem;
  min-height: 90vh;

  .contactInfo {
    padding: 1rem;
    min-height: 40vh;
    margin-bottom: 2rem;
    background-color: var(--anti-flash-white);

    .infoHeader {
      text-align: center;
      border-bottom: 1px solid black;
    }

    .infoText {
      padding: 1rem;
    }
  }
}