:root {
  --primary-color: #50A4E2;
  --secondary-color: #214B8D;
  --white-color: #fff;
  --grey-color: #fbfbfb;
  font-size: 16px;
  --mobile-breakpoint: 425px;
  --tablet-breakpoint: 768px;
  --laptop-breakpoint: 1024px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}