.primaryButton {
  font-weight: bold;
  margin: 1rem;
  padding: 0.75rem 1.2rem;
}

.backgroundCompContainer {
  height: 100%;
  width: 100%;
  background-image: url("/background/bg-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;

  color: var(--white-color);
  text-align: center;

  .homeBgContainer {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 25%;
  
    .motto {
      font-size: 2rem;
      font-weight: bolder;
      margin-bottom: 2rem;
    }
  
    .description {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }
}


.estimateContainer {
  position: relative;
  text-align: center;
  vertical-align: middle;

  background-color: var(--secondary-color);
  min-height: 30vh;
  border-bottom: 1px solid var(--white-color);

  .costQuestion {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 500;
  }

  .estimateButton {
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-weight: bold;
    padding: 0.75rem 1.2rem;
  }
}

.servicesContainer {
  padding: 4rem 4rem;
  border-bottom: 1px solid var(--white-color);

  .servicesHeader {
    margin-bottom: 2rem;
  }

  .serviceCard {
    padding: 1rem;
    text-align: center;
    min-height: 24rem;

    .serviceCardHeader {
      text-align: center;
    }

    .serviceCardContent {
      text-align: left;
    }
  }
}

.recentProjectsContainer {
  padding: 4rem 4rem;
  min-height: 90vh;
  background-color: var(--grey-color);

  .recentProjectsHeader {
    margin-bottom: 2rem;
  }
}

.packagesContainer {
  padding: 4rem 4rem;
  min-height: 90vh;
  background-color: var(--white-color);

  .packagesHeader {
    margin-bottom: 2rem;
  }
}

.partnersContainer {
  padding: 4rem 4rem;
  min-height: 50vh;
  background-color: var(--grey-color);

  .partnersHeader {
    margin-bottom: 2rem;
  }
}

.benefitsContainer {
  padding: 4rem 4rem;
  min-height: 40vh;
  background-color: var(--white-color);

  .benefitsHeader {
    margin-bottom: 2rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .motto {
    font-size: 1rem;
  }

  .backgroundCompContainer {
    min-height: 85vh;
    padding: 1.5rem;
  }
}


/* Mobile */
@media (max-width: 425px) {
  .motto {
    font-size: 0.8rem;
  }

  .estimateContainer {
    .costQuestion {
      top: 2rem;
      font-size: 1.4rem;
    }
  }
}