.homeBgContainer {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);

  .motto {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 2rem;
  }

  .description {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .primaryButton {
    font-weight: bold;
    margin: 1rem;
  }
}

.estimateContainer {
  position: relative;
  text-align: center;
  vertical-align: middle;

  background-color: var(--secondary-color);
  min-height: 30vh;
  border-bottom: 1px solid var(--white-color);

  .costQuestion {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 500;
  }

  .estimateButton {
    position: absolute;
    font-weight: bold;
    padding: 8px;
    top: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.servicesContainer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 4rem 2rem;
  border-bottom: 1px solid var(--white-color);

  .servicesHeader {
    margin-bottom: 2rem;
  }

  .serviceCard {
    padding: 1rem;
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--white-color);

    .serviceCardHeader {
      text-align: center;
    }

    .serviceCardContent {
      text-align: left;
    }
  }
}

/* Tablet and Smaller Desktop */
@media (max-width: 1120px) {
  .motto {
    font-size: 1rem;
  }
}


/* Mobile */
@media (max-width: 700px) {
  .motto {
    font-size: 0.8rem;
  }

  .estimateContainer {
    .costQuestion {
      top: 2rem;
      font-size: 1.4rem;
    }
  }
}