.homeBgContainer {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);

  .motto {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 2rem;
  }

  .description {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .primaryButton {
    font-weight: bold;
    margin: 1rem;
  }
}

.estimateContainer {
  position: relative;
  text-align: center;
  vertical-align: middle;

  background-color: var(--primary-color);
  min-height: 30vh;

  .costQuestion {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 500;
  }

  .estimateButton {
    position: absolute;
    font-weight: bold;
    padding: 8px;
    top: 100%;
    transform: translate(-50%, -50%);
  }
}

.servicesContainer {
  background-color: var(--white-color);
  padding: 4rem 2rem;

  .servicesHeader {
    margin-bottom: 2rem;
  }
}

.recentWorksContainer {
  
}

/* Tablet and Smaller Desktop */
@media (max-width: 1120px) {
  .motto {
    font-size: 1rem;
  }
}


/* Mobile */
@media (max-width: 700px) {
  .motto {
    font-size: 0.9rem;
  }
}