.appHeader {
  position: relative !important;
}

.companyLogoImage {
  margin-right: 0.5rem;
  width: 2.5rem;
  height: 2rem;
}

.headerLinks {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .companyLogoImage {
    position: relative;
    left: -1rem;
  }
}