.backgroundCompContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("/background/bg-7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  overflow: none;

  color: white;
  text-align: center;
}

@media (max-width: 800px) {
  .backgroundCompContainer {
    height: 150vh;
    padding: 1.5rem;
  }
}